#app {
	padding-top: 56px;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $white-1;
	background-color: $dark-1;
	min-height: 100vh;
}

.modal {
	color: $dark-1;
	text-align: left;
}