.todoList {
	width: 360px;
	margin: 0 auto;
	&-box {
	  li {
		display: flex;
		justify-content: space-between;
		text-align: left;
		padding: 10px;
	  }
	  &_input {
		&.form-control {
			border: none;
		}
		&:focus {
		  border: 1px solid gray;
		}
	  }
	}
	.tab {
	  .btn {
		&.active {
		  color: #a75d5d;
		  font-weight: bold;
		  border-color: transparent;
		}
	  }
	}
  }